/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: 'MuseoSans500', sans-serif;
  color: #222;
}
body {
  margin: 0;
  font-size: 12px;
  line-height: 20px;
}
::-moz-selection {
  background: #5c5c5c;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #5c5c5c;
  color: #fff;
  text-shadow: none;
}
*:focus {
  outline: none;
}
a {
  color: #00e;
}
a:hover {
  color: #06e;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}
/* ==|== primary styles =====================================================
   Author: Anthony Sessa - fourfiftynine.com
   ========================================================================== */
/* =============================================================================
  Bootstrap mixins
  ========================================================================== */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
/* =============================================================================
  Colors
  ========================================================================== */
/* =============================================================================
   Base
   ========================================================================== */
body {
  background: #e9e7e7;
  color: #5c5c5c;
  font-size: 13px;
}
a,
a:visited {
  color: #232323;
  text-decoration: none;
}
a:hover {
  color: #232323;
}
.container {
  margin: 0 auto;
  width: 960px;
}
/* =============================================================================
   Typeface
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
h1 {
  font-size: 26px;
  color: #5c5c5c;
}
h2 {
  font-size: 18px;
}
/* =============================================================================
   Inputs
   ========================================================================== */
label {
  color: #e4e6e9;
}
input[type="text"],
textarea {
  border: 1px solid #e4e6e9;
}
input[type="text"] {
  line-height: 20px;
  height: 20px;
}
/* =============================================================================
   Logo
   ========================================================================== */
.brand {
  background: url(../img/logo.png) no-repeat center center;
  display: block;
  float: left;
  width: 315px;
  height: 70px;
  text-indent: -999999px;
}
.brand:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
#banner .brand {
  position: relative;
  top: 40px;
}
/* =============================================================================
   Social Nav
   ========================================================================== */
nav.social.white {
  width: 180px;
}
nav.social.white a {
  background: url(../img/social-sprite-white.png) no-repeat;
}
nav.social h2 {
  float: left;
  font-size: 14px;
  display: inline-block;
  margin: 0;
  position: relative;
  top: -2px;
}
nav.social li {
  float: right;
  margin-right: 5px;
}
nav.social li a {
  background: url(../img/social-sprite.png) no-repeat;
  display: block;
  height: 12px;
  width: 20px;
}
nav.social li a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
nav.social li a.facebook {
  background-position: -52px 0;
}
nav.social li a.twitter {
  background-position: -76px 0;
}
nav.social li a.linkedin {
  background-position: -29px 0;
}
nav.social li a span {
  float: left;
  text-indent: -99999px;
}
/* =============================================================================
   Gradients
   ========================================================================== */
.gradientGreyHover {
  background: #e5e5e5;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNmQ2ZDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #e5e5e5 0%, #d6d6d6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(100%, #d6d6d6));
  background: -webkit-linear-gradient(top, #e5e5e5 0%, #d6d6d6 100%);
  background: -o-linear-gradient(top, #e5e5e5 0%, #d6d6d6 100%);
  background: -ms-linear-gradient(top, #e5e5e5 0%, #d6d6d6 100%);
  background: linear-gradient(top, #e5e5e5 0%, #d6d6d6 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#d6d6d6', GradientType=0);
}
/* =============================================================================
   Buttons
   ========================================================================== */
.btn {
  display: inline-block;
  font-size: 13px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  text-transform: uppercase;
  border: 1px solid #000000;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 0 1px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 1px 0 1px rgba(0, 0, 0, 0.21);
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.21);
}
.btn.grey {
  color: #696969;
  padding-right: 30px;
  background: #eeeeee;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGUwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);
  background: linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#eeeeee', endColorstr='#e0e0e0', GradientType=0);
}
.btn.grey strong {
  color: #232323;
  font-weight: normal;
  font-size: 16px;
}
.btn.grey .arrow {
  display: inline-block;
  background: url(../img/btn-arrow.png) no-repeat;
  height: 25px;
  width: 25px;
  position: relative;
  top: 8px;
  left: 20px;
}
.btn:hover {
  background: #e5e5e5;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNmQ2ZDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #e5e5e5 0%, #d6d6d6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(100%, #d6d6d6));
  background: -webkit-linear-gradient(top, #e5e5e5 0%, #d6d6d6 100%);
  background: -o-linear-gradient(top, #e5e5e5 0%, #d6d6d6 100%);
  background: -ms-linear-gradient(top, #e5e5e5 0%, #d6d6d6 100%);
  background: linear-gradient(top, #e5e5e5 0%, #d6d6d6 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#d6d6d6', GradientType=0);
}
/* =============================================================================
   Header
   ========================================================================== */
#header-border {
  height: 6px;
  background: url(../img/header-border.png) repeat-x;
}
header#banner {
  background-color: #ffffff;
  position: relative;
  z-index: 2;
}
#banner {
  height: 155px;
}
#banner > .container {
  background: url(../img/bg-header-clouds.png) no-repeat left top;
  height: 155px;
}
#banner #nav-bar-container {
  border-top: 1px solid #e0e0e0;
  height: 33px;
  line-height: 33px;
  background: url(../img/bg-nav-sprite.png) repeat-x;
}
#banner nav#nav-main ul.menu > li {
  cursor: pointer;
  display: inline-block;
  float: left;
}
#banner nav#nav-main ul.menu > li:hover,
#banner nav#nav-main ul.menu > li.current-menu-parent,
#banner nav#nav-main ul.menu > li.current-menu-item {
  background: url('../img/nav-active-semicircle.png') no-repeat 34% bottom;
}
#banner nav#nav-main ul.menu > li > a,
#banner nav#nav-main ul.menu > li > a:visited {
  background: url(../img/bg-nav-sprite.png) no-repeat;
  background-position: right -34px;
  padding: 0 31px 0 4px;
}
#banner nav#nav-main ul.menu > li > a.active,
#banner nav#nav-main ul.menu > li > a:visited.active {
  color: #7b2353;
}
#banner nav#nav-main ul.menu > li.parent {
  position: relative;
}
#banner nav#nav-main ul.menu > li.parent > a,
#banner nav#nav-main ul.menu > li.parent > a:visited {
  padding: 0 40px 0 15px;
  margin-left: -10px;
}
#banner nav#nav-main ul.menu > li.parent .arrow {
  background: url(../img/arrow-purple.png) no-repeat;
  position: absolute;
  right: 25px;
  top: 12px;
  height: 5px;
  width: 7px;
}
#banner nav#nav-main ul.menu > li > a:hover,
#banner nav#nav-main ul.menu > li.active a,
#banner nav#nav-main ul.menu > li.current-menu-item a,
#banner nav#nav-main ul.menu > li.current-menu-parent a {
  background-position: right -68px;
}
#banner nav#nav-main ul.menu > li.menu-home a {
  background: url(../img/btn-home.png) no-repeat right top;
  border-left: none;
  width: 30px;
  text-indent: -99999px;
}
#banner nav#nav-main ul.menu > li.menu-home .lt-ie9 a {
  text-indent: 0;
}
#banner nav#nav-main ul.menu > li.menu-home a:hover,
#banner nav#nav-main ul.menu > li.menu-home.active a,
#banner nav#nav-main ul.menu > li.menu-home.current-menu-item a,
#banner nav#nav-main ul.menu > li.menu-home.current-menu-parent a {
  background-position: right -34px;
}
#banner nav#nav-main a,
#banner nav#nav-main a:visited {
  color: #232323;
  display: block;
  float: left;
  height: 33px;
  line-height: 33px;
  font-size: 13px;
  text-transform: uppercase;
}
#banner nav#nav-main a:hover,
#banner nav#nav-main a:visited:hover {
  color: #7b2353;
}
#banner nav#nav-main .sub-menu {
  *zoom: 1;
  *zoom: 1;
  background: #e0e0e0;
  -webkit-box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.25);
  display: none;
  position: absolute;
  top: 33px;
  left: -13px;
  width: 230px;
}
#banner nav#nav-main .sub-menu:before,
#banner nav#nav-main .sub-menu:after {
  display: table;
  content: "";
}
#banner nav#nav-main .sub-menu:after {
  clear: both;
}
#banner nav#nav-main .sub-menu a,
#banner nav#nav-main .sub-menu a:visited {
  border-bottom: 1px solid #e4e6e9;
  background: none;
  padding: 0 0 0 15px;
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  width: 200px;
}
#banner nav#nav-main li:hover .sub-menu {
  display: block;
}
#banner #search-and-social {
  float: right;
  margin-top: 20px;
}
#banner #contact-info {
  color: #232323;
  clear: both;
  float: right;
  margin-top: 15px;
  text-align: right;
  font-size: 11.5px;
  width: 145px;
}
#banner #contact-info p {
  margin: 0px 0;
}
#banner #contact-info a:hover {
  text-decoration: underline;
}
/* IE 7 & 8 */
/*body { padding-top: 60px; }*/
body.admin-bar .navbar-fixed-top {
  top: 28px;
}
/* =============================================================================
   Content
   ========================================================================== */
#content {
  margin: 0 auto;
  width: 960px;
  width: 960px;
  *zoom: 1;
  *zoom: 1;
  padding-top: 35px;
}
#content:before,
#content:after {
  display: table;
  content: "";
}
#content:after {
  clear: both;
}
#content #main {
  width: 630px;
  float: left;
}
#content #main.no-children {
  width: 100%;
}
#content section > header a.read-all,
#content section > header a.read-all:visited {
  color: #7b2353;
  font-size: 11px;
  font-weight: bold;
  margin: 0 10px 0 0;
  float: right;
}
#content section > header a.read-all:hover,
#content section > header a.read-all:visited:hover {
  text-decoration: underline;
}
#content section > header h1 {
  float: left;
  margin: 0 10px;
  font-size: 13px;
}
#content section > header h1 strong {
  color: #232323;
  font-size: 16px;
  font-weight: normal;
}
#content article h1 {
  color: #272727;
  margin: 20px 20px 15px;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 10px;
}
#content article h2 {
  color: #292929;
  margin: 25px 10px 15px;
  font-size: 18px;
}
#content article h2 a {
  color: #292929;
}
#content article h2 a:hover {
  color: #7b2353;
  text-decoration: none;
}
#content article .post-featured-thumb {
  float: left;
  margin: 20px 20px 0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21);
  width: 147px;
}
#content article .post-content {
  float: left;
  width: 440px;
}
#content article .post-content.no-thumb {
  width: 600px;
  padding: 0 20px 20px;
}
#content article p {
  margin: 0 10px 10px 0;
}
#content article p.author {
  display: none;
}
#content article p:first-child {
  margin-top: 0;
}
#content article footer {
  font-family: 'Arial';
  font-size: 10px;
  margin: 0 20px 0px 3px;
  padding-bottom: 5px;
  height: 45px;
  line-height: 45px;
}
#content article footer time,
#content article header time {
  color: #5c5c5c;
  float: left;
  font-size: 11px;
  margin-left: 12px;
  margin-right: 12px;
  font-style: italic;
}
#content article footer .comments,
#content article header .comments {
  color: #5c5c5c;
  float: left;
}
#content article footer .comments span,
#content article header .comments span {
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
  font-family: 'Arial';
  background: url(../img/comment-bubble.png) no-repeat;
  display: inline-block;
  height: 35px;
  text-align: center;
  line-height: 32px;
  width: 32px;
}
#content article footer .read-more,
#content article header .read-more {
  float: left;
  color: #7b2353;
  font-weight: bold;
}
#content article footer .read-more:hover,
#content article header .read-more:hover {
  text-decoration: underline;
}
#sidenav ul li {
  border: 1px solid #e4e6e9;
  display: block;
  margin-bottom: 15px;
}
#sidenav ul li a {
  color: #5c5c5c;
  display: block;
  font-size: 15px;
  height: 35px;
  line-height: 38px;
  padding-left: 20px;
  border-bottom: 5px solid #e4e6e9;
}
#sidenav ul li a:hover,
#sidenav ul li.current-menu-item a {
  background-color: #f4f3f3;
  color: #ff8000;
}
#sidenav ul li a:hover {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
/* ============================================
    Content Blocks
   ========================================= */
.block {
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21);
  position: relative;
  background: #e0e0e0;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGUwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f4f4f4 0%, #e0e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(top, #f4f4f4 0%, #e0e0e0 100%);
  background: -o-linear-gradient(top, #f4f4f4 0%, #e0e0e0 100%);
  background: -ms-linear-gradient(top, #f4f4f4 0%, #e0e0e0 100%);
  background: linear-gradient(top, #f4f4f4 0%, #e0e0e0 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#e0e0e0', GradientType=0);
}
.block > header {
  height: 35px;
  line-height: 35px;
  background: #eeeeee;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGUwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);
  background: linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#eeeeee', endColorstr='#e0e0e0', GradientType=0);
  border-bottom: 1px solid #7b2353;
}
.block > header h1 a {
  color: #5c5c5c;
}
.block > header h1 a:hover {
  color: #7b2353;
}
.block > footer {
  height: 35px;
  line-height: 35px;
  background: #eeeeee;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGUwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);
  background: linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#eeeeee', endColorstr='#e0e0e0', GradientType=0);
}
.block > footer a,
.block > footer a:visited {
  float: right;
  font-size: 10px;
  color: #7b2353;
  margin-right: 15px;
}
.block > footer a:hover {
  text-decoration: underline;
}
.block article {
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #d1d1d1;
}
.block article.first {
  border-top: none;
}
.block article.last {
  border-bottom: none;
}
.block article header h2 {
  margin: 20px 20px;
}
.block article p {
  margin: 15px 20px 20px;
  font-size: 11px;
  line-height: 14px;
}
#bottom {
  margin-top: 30px;
}
#bottom .block {
  float: left;
  width: 300px;
}
#bottom .block:first-child {
  margin-right: 26px;
}
section#press-releases h2,
section#downloads h2 {
  margin: 15px;
}
section#press-releases p,
section#downloads p {
  margin: 15px;
}
section#press-releases p a,
section#downloads p a,
section#press-releases p a:visited,
section#downloads p a:visited {
  color: #7b2353;
}
section#press-releases p a:hover,
section#downloads p a:hover {
  text-decoration: underline;
}
section#downloads h2 {
  margin: 12px 15px;
}
section#downloads p {
  margin: 5px 15px 15px;
}
.lt-ie9 .block header h2 {
  font-size: 17px;
}
section#news {
  float: left;
  width: 300px;
  height: 334px;
}
section#news h1 {
  margin: 0;
  padding: 20px 20px;
  border-bottom: 1px solid #bebebe;
  margin: 0;
  padding: 0 20px;
  height: 45px;
  line-height: 45px;
  background-color: #f4f3f3;
  border: none;
  border-bottom: 1px solid #f6f6f6;
  -webkit-box-shadow: 0 0 15px #e4e6e9 inset;
  -moz-box-shadow: 0 0 15px #e4e6e9 inset;
  box-shadow: 0 0 15px #e4e6e9 inset;
}
section#news article {
  border-top: none;
}
section#news article h2 {
  margin: 10px 20px;
}
section#news article p {
  font-size: 13px;
  line-height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
section#news a.btn {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 35px;
  line-height: 35px;
  padding: 0 25px;
}
/* ============================================
    Frontpage (Home)
   ========================================= */
body.home #featured-post {
  color: #ffffff;
  position: relative;
}
body.home #featured-post #welcome-image {
  border: 1px solid #e0e0e0;
  width: 628px;
}
body.home #featured-post #feature-excerpt {
  width: 628px;
  background: #55183a;
  background: rgba(85, 24, 58, 0.8);
  position: absolute;
  bottom: 1px;
  left: 1px;
}
body.home #featured-post #feature-excerpt .text {
  float: left;
  width: 400px;
}
body.home #featured-post #feature-excerpt h2 {
  font-size: 27px;
  margin: 18px 30px;
}
body.home #featured-post #feature-excerpt p {
  font-size: 11px;
  margin: 18px 30px;
}
body.home #featured-post #feature-excerpt .btn {
  position: relative;
  top: 35px;
  left: 10px;
}
body.home #blog {
  margin-top: 30px;
}
body.home #blog article header h2 {
  margin: 25px 0 15px;
}
/* ============================================
    Third Row - PR, StockTwits, Twitter
   ========================================= */
.row {
  margin-top: 30px;
}
#third #youtube header h1 {
  margin: 0;
  padding: 0 20px;
  height: 45px;
  background-color: #f4f3f3;
  border: none;
  border-bottom: 1px solid #f6f6f6;
  -webkit-box-shadow: 0 0 15px #e4e6e9 inset;
  -moz-box-shadow: 0 0 15px #e4e6e9 inset;
  box-shadow: 0 0 15px #e4e6e9 inset;
}
#third #youtube article {
  border-top: none;
  text-align: center;
}
#third #youtube article h3 {
  margin-bottom: 5px;
}
#third #youtube article a {
  overflow: hidden;
  display: block;
  margin-bottom: 10px;
  height: 99px;
}
#third #youtube article a:first-child {
  margin-top: 0px;
}
#third #youtube article a img {
  width: 195px;
  position: relative;
  top: -22px;
}
#third .block {
  width: 298px;
}
#third #stocktwits {
  width: 300px;
}
#third #StockTwits_wrapper {
  border: 1px solid #f6f6f6 !important;
}
#third #StockTwits_wrapper .stModuleHeader {
  background: #ffffff;
  margin: 0;
  border-bottom: 1px solid #f6f6f6;
  height: 60px;
  line-height: 60px;
  padding: 0;
}
#third #StockTwits_wrapper .stModuleHeader .stTitle {
  color: #464646;
  font-family: 'MuseoSans500';
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  font-size: 26px;
  font-weight: 500;
}
#third aside {
  float: left;
  margin-left: 30px;
}
#third aside:first-child {
  margin-left: 0;
}
/* ============================================
    Search & Search Form
   ========================================= */
#searchform {
  clear: both;
  float: right;
  margin-top: 17px;
  position: relative;
}
#searchform #s {
  background-color: #f4f4f4;
  border: 1px solid #e0e0e0;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding-left: 15px;
  color: #5c5c5c;
  font-size: 12px;
  height: 20px;
  width: 185px;
}
#searchform #searchsubmit {
  background: url(../img/search-button.png) no-repeat;
  border: none;
  color: #ffffff;
  font-size: 10px;
  height: 11px;
  width: 13px;
  padding: 6px 4px 5px;
  text-transform: uppercase;
  position: absolute;
  right: 15px;
  top: 5px;
  text-indent: -999999px;
}
#searchform #searchsubmit:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
body.search #main article {
  margin-bottom: 20px;
}
/* ============================================
    Pages
   ========================================= */
#main article#page #the-content {
  background: #fff;
  border: 1px solid #e0e0e0;
  padding: 25px 25px;
}
#main article#page #the-content > p:first-child > strong:first-child {
  margin-top: 0;
}
#main article#page header {
  border: 1px solid #e0e0e0;
  border-bottom: 5px solid #7b2353;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21);
  height: 174px;
  margin-bottom: 30px;
}
body.management article > header,
body.board-of-directors article > header {
  background: url(../img/management.png) right center;
}
body.management article > header > h1,
body.board-of-directors article > header > h1 {
  position: relative;
  top: 60px;
}
body.board-of-directors article > header h1 {
  width: 220px;
  line-height: 32px;
  position: relative;
  top: 45px;
}
body.page article > header {
  background: url(../img/about-worthington.png) right center;
}
body.page article > header > h1 {
  width: 220px;
  line-height: 32px;
  position: relative;
  left: -5px;
  top: 55px;
}
body.page .block article header {
  background: none;
}
body.about-worthington article > header {
  background: url(../img/about-worthington.png) right center;
}
body.about-worthington article > header > h1 {
  width: 220px;
  line-height: 32px;
  position: relative;
  left: -5px;
  top: 40px;
}
body.company-profile article > header,
body.assets article > header,
body.current-assets article > header,
body.sec-filings article > header,
body.stock-quote article > header,
body.strategy article > header {
  background: url(../img/investor-relations.png) right center;
}
body.company-profile article > header > h1,
body.assets article > header > h1,
body.current-assets article > header > h1,
body.sec-filings article > header > h1,
body.stock-quote article > header > h1,
body.strategy article > header > h1 {
  width: 220px;
  line-height: 32px;
  position: relative;
  left: -5px;
  top: 40px;
}
body.assets article > header > h1,
body.sec-filings article > header > h1,
body.strategy article > header > h1,
body.contact article > header > h1 {
  position: relative;
  top: 55px;
}
body.ir-contact article > header,
body.contact article > header {
  background: url(../img/contact.png) right center;
}
/* ============================================
    Stock Chart Page
   ========================================= */
body.stock-quote #sidebar #stock-quote {
  display: none;
}
body.stock-quote object {
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 0;
}
/* ============================================
    News & Press Releases
   ========================================= */
body.news #content #main #the-content,
body.press-releases #content #main #the-content {
  background: #e0e0e0;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGUwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f4f4f4 0%, #e0e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(top, #f4f4f4 0%, #e0e0e0 100%);
  background: -o-linear-gradient(top, #f4f4f4 0%, #e0e0e0 100%);
  background: -ms-linear-gradient(top, #f4f4f4 0%, #e0e0e0 100%);
  background: linear-gradient(top, #f4f4f4 0%, #e0e0e0 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#e0e0e0', GradientType=0);
}
body.news #content #main #the-content ul,
body.press-releases #content #main #the-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body.news #content #main .post-content footer {
  display: none;
}
/* ============================================
    Board of directors / Management
   ========================================= */
body.board-of-directors #content #main br,
body.management #content #main br {
  display: none;
}
body.board-of-directors #content #main strong,
body.management #content #main strong {
  font-size: 14px;
  margin: 20px 0 0;
  display: block;
}
/* ============================================
    FAQ Page
   ========================================= */
body.faq strong {
  font-size: 18px;
  font-weight: 500;
  color: #ff8000;
}
/* ============================================
    SEC Filings Page
   ========================================= */
body.sec-filings #main {
  padding: 0;
}
body.sec-filings #main #page #the-content {
  background: #e0e0e0;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGUwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f4f4f4 0%, #e0e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(top, #f4f4f4 0%, #e0e0e0 100%);
  background: -o-linear-gradient(top, #f4f4f4 0%, #e0e0e0 100%);
  background: -ms-linear-gradient(top, #f4f4f4 0%, #e0e0e0 100%);
  background: linear-gradient(top, #f4f4f4 0%, #e0e0e0 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#e0e0e0', GradientType=0);
  padding: 0;
}
body.sec-filings #main #page #the-content .rsspaging {
  *zoom: 1;
  *zoom: 1;
  padding: 10px 30px 20px;
}
body.sec-filings #main #page #the-content .rsspaging:before,
body.sec-filings #main #page #the-content .rsspaging:after {
  display: table;
  content: "";
}
body.sec-filings #main #page #the-content .rsspaging:after {
  clear: both;
}
body.sec-filings #main #page #the-content .rsspaging a.rsspaging_prev,
body.sec-filings #main #page #the-content .rsspaging a:visited.rsspaging_prev {
  float: left;
}
body.sec-filings #main #page #the-content .rsspaging a.rsspaging_next,
body.sec-filings #main #page #the-content .rsspaging a:visited.rsspaging_next {
  float: right;
}
body.sec-filings #main #page #the-content .rsspaging a:hover,
body.sec-filings #main #page #the-content .rsspaging a:visited:hover {
  color: #7b2353;
}
body.sec-filings #main ul {
  padding: 0;
}
body.sec-filings #main ul > p {
  display: none;
}
body.sec-filings #main ul > div {
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #d1d1d1;
}
body.sec-filings #main li {
  list-style: none;
  margin: 0 0;
  padding: 15px;
}
body.sec-filings #main li a:hover {
  color: #7b2353;
}
body.sec-filings #main li b {
  padding: 0 2px 0 10px;
}
/* ============================================
    Contact Page
   ========================================= */
body.contact #stock-quote,
body.ir-contact #stock-quote,
body.contact #contact-we,
body.ir-contact #contact-we {
  display: none;
}
body.contact span.wpcf7-not-valid-tip,
body.ir-contact span.wpcf7-not-valid-tip {
  top: -3px;
  left: 260px;
}
body.contact div.wpcf7-validation-errors,
body.ir-contact div.wpcf7-validation-errors {
  border-color: #ae2b28;
  clear: both;
}
body.contact div.wpcf7-mail.sent-ok,
body.ir-contact div.wpcf7-mail.sent-ok {
  clear: both;
}
body.contact .your-message span.wpcf7-not-valid-tip,
body.ir-contact .your-message span.wpcf7-not-valid-tip {
  top: 50%;
  left: 50%;
}
body.contact input.wpcf7-not-valid,
body.ir-contact input.wpcf7-not-valid,
body.contact textarea.wpcf7-not-valid,
body.ir-contact textarea.wpcf7-not-valid {
  border: 1px solid #ae2b28;
}
body.contact .form,
body.ir-contact .form {
  float: left;
}
body.contact .address,
body.ir-contact .address {
  float: right;
  width: 273px;
  text-align: center;
  border: 1px solid #e0e0e0;
}
body.contact .address .brand,
body.ir-contact .address .brand {
  background: url(../img/logo-footer.png) no-repeat top center;
  background-position: center top;
  padding-bottom: 40px;
  width: 273px;
}
body.contact .address nav,
body.ir-contact .address nav {
  margin: 0 auto;
  width: 90px;
  margin-bottom: 10px;
}
body.contact .address h2,
body.ir-contact .address h2 {
  color: #5c5c5c;
}
body.contact .wpcf7-form,
body.ir-contact .wpcf7-form {
  *zoom: 1;
  *zoom: 1;
}
body.contact .wpcf7-form:before,
body.ir-contact .wpcf7-form:before,
body.contact .wpcf7-form:after,
body.ir-contact .wpcf7-form:after {
  display: table;
  content: "";
}
body.contact .wpcf7-form:after,
body.ir-contact .wpcf7-form:after {
  clear: both;
}
body.contact .wpcf7-form input[type="submit"],
body.ir-contact .wpcf7-form input[type="submit"] {
  float: right;
  line-height: 30px;
  border: none;
  height: 30px;
  padding: 0 20px;
}
body.contact .wpcf7-form .message,
body.ir-contact .wpcf7-form .message {
  clear: both;
}
body.contact .wpcf7-form .message textarea,
body.ir-contact .wpcf7-form .message textarea {
  width: 100%;
}
/* ============================================
    404 Page
   ========================================= */
body.error404 #content #main {
  margin: 0 auto;
  float: none;
}
/* =============================================================================
   Primary Content
   ========================================================================== */
#wrap {
  padding: 30px 0 50px;
  position: relative;
  z-index: 1;
  background: #f6f6f6;
}
/* =============================================================================
   Sidebar
   ========================================================================== */
#sidebar {
  float: right;
  width: 300px;
}
#sidebar .block,
#sidebar #stocktwits {
  margin-bottom: 30px;
}
#sidebar #twitter .twtr-widget .twtr-tweet {
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #d1d1d1;
}
#sidebar #twitter .twtr-widget .twtr-hd {
  display: none;
}
#sidebar #twitter .twtr-widget .twtr-ft div {
  height: 35px;
  line-height: 35px;
  padding: 0 !important;
  background: #eeeeee;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGUwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);
  background: linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#eeeeee', endColorstr='#e0e0e0', GradientType=0);
}
#sidebar #twitter .twtr-widget .twtr-ft div img {
  display: none;
}
#sidebar #twitter .twtr-widget .twtr-ft div span {
  display: block;
  float: none !important;
  height: 35px;
  margin-left: 10px;
  background: url(../img/twitter-logo.png) no-repeat left center;
}
#sidebar #twitter .twtr-widget .twtr-ft div .twtr-join-conv {
  color: #7b2353 !important;
  font-weight: bold !important;
  font-size: 11px;
  float: right;
  margin-right: 15px;
}
#sidebar #contact-we {
  margin-bottom: 0;
}
#sidebar #contact-we article {
  color: #000000;
  padding: 10px 15px;
  border-bottom: 0;
}
/* =============================================================================
   Post Listing
   ========================================================================== */
.hentry h2 a {
  text-decoration: none;
}
.hentry time {
  display: block;
}
.hentry footer {
  clear: both;
}
body.archive #main,
body.single-post #main {
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21);
  position: relative;
  background: #e0e0e0;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGUwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f4f4f4 0%, #e0e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(top, #f4f4f4 0%, #e0e0e0 100%);
  background: -o-linear-gradient(top, #f4f4f4 0%, #e0e0e0 100%);
  background: -ms-linear-gradient(top, #f4f4f4 0%, #e0e0e0 100%);
  background: linear-gradient(top, #f4f4f4 0%, #e0e0e0 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#e0e0e0', GradientType=0);
}
.page-header {
  height: 35px;
  line-height: 35px;
  background: #eeeeee;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGUwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);
  background: linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#eeeeee', endColorstr='#e0e0e0', GradientType=0);
  border-bottom: 1px solid #7b2353;
}
.page-header h1 {
  float: left;
  margin: 0 10px;
  font-size: 16px;
  text-transform: uppercase;
  color: #5c5c5c;
}
.page-header h1 a {
  color: #5c5c5c;
}
.page-header h1 a:hover {
  color: #7b2353;
}
body.archive #main article {
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #d1d1d1;
}
body.archive #main article.first {
  border-top: none;
}
body.archive #main article.last {
  border-bottom: none;
}
body.archive #main .post-content h2 {
  margin: 25px 0 15px;
}
body.archive #main .post-content .entry-content {
  font-size: 11px;
  line-height: 15px;
}
/* =============================================================================
   Individual Posts (Single.php)
   ========================================================================== */
body.single-post #content .post-meta {
  height: 35px;
  line-height: 35px;
  margin-bottom: 15px;
  font-size: 11px;
  color: #5c5c5c;
}
body.single-post #content .post-meta time {
  font-style: normal !important;
}
body.single-post #content .addthis_toolbox {
  clear: both;
  margin-bottom: 20px;
}
body.single-post #content h1.entry-title {
  font-size: 18px;
  text-transform: none;
  margin: 0 0 15px;
  padding: 0;
}
body.single-post #content article {
  padding: 25px;
}
body.single-post #content footer {
  display: none;
}
/* =============================================================================
   Post Comments
   ========================================================================== */
#comments,
#respond,
#submit {
  clear: both;
  display: none;
}
ol.commentlist img.avatar {
  float: left;
  margin-right: 10px;
}
/* =============================================================================
   Footer
   ========================================================================== */
footer {
  position: relative;
  z-index: 2;
}
footer header {
  background: url(../img/bg-footer-header.png) repeat-x;
  height: 34px;
  border-bottom: 1px solid #ffffff;
}
footer header .to-top {
  float: right;
  position: relative;
  top: -15px;
}
footer header .to-top .arrow {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
footer header .form-search {
  float: left;
  margin-top: 0 !important;
  position: relative;
  top: 8px;
}
footer header nav.social {
  float: right;
  position: relative;
  top: 15px;
}
footer .col {
  float: left;
}
footer .menu > li {
  float: left;
  margin-left: 25px;
  width: 135px;
}
footer .menu > li a,
footer .menu > li a:visited {
  color: #7b2353;
  text-transform: uppercase;
}
footer .menu > li a:hover,
footer .menu > li a:visited:hover {
  color: #5c5c5c;
}
footer .menu > li.menu-about {
  margin-left: 55px;
}
footer .menu > li.menu-investor-relations {
  width: 145px;
}
footer .menu > li.menu-press {
  width: 100px;
}
footer .menu > li.menu-contact {
  margin-left: 15px;
  width: 65px;
}
footer .menu > li.menu-blog {
  width: 45px;
}
footer .menu > li:first-child {
  display: none;
  margin-left: 100px;
}
footer .menu > li .sub-menu li a {
  color: #313131;
  text-transform: capitalize;
  font-size: 11px;
  display: block;
  margin-bottom: 5px;
}
footer .menu > li .sub-menu li a:hover {
  color: #7b2353;
}
footer .menu > li > a {
  display: block;
  font-size: 13px;
  margin-bottom: 20px;
}
footer #main-footer {
  padding: 40px 0;
}
footer #main-footer #footer-brand {
  border: 1px solid #e0e0e0;
  background: #ffffff;
  width: 273px;
}
footer #main-footer .brand {
  background: url(../img/logo-footer.png) no-repeat top center;
  float: none;
  background-position: center top;
  padding-bottom: 40px;
  width: 273px;
}
footer #main-footer .contact-info {
  text-align: center;
  margin: 20px 20px 10px;
  color: #000000;
  font-size: 11px;
}
footer #main-footer nav.social {
  margin: 0 20px 20px;
}
footer #main-footer .email {
  margin: 0 20px;
  position: relative;
  top: 4px;
  background: url(../img/icon-email.png) no-repeat center center;
  height: 11px;
  width: 16px;
  float: left;
}
footer #main-footer .email:hover {
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=8);
}
footer .copy {
  clear: both;
  float: right;
  color: #5c5c5c;
  margin-top: -20px;
  font-size: 10px;
}
footer .copy a,
footer .copy a:visited {
  color: #5c5c5c;
}
footer .copy a.privacy-link,
footer .copy a:visited.privacy-link {
  margin-left: 15px;
}
#content-info {
  color: #ffffff;
}
#content-info p small {
  font-size: 13px;
}
/* =============================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */
.aligncenter {
  display: block;
  margin: 0 auto;
}
.alignleft {
  margin: 0 20px 20px 0;
  float: left;
}
.alignright {
  margin: 0 0 20px 20px;
  float: right;
}
.container {
  width: 960px;
}
/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
/* ==|== non-semantic helper classes ======================================== */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* ==|== print styles ======================================================= */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
